<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">

  <div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">{{ titulo }}</h3>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="container">
            <table *ngIf="cliente" class="table table-bordered table-hover">
              <thead class="table-warning">
                <tr>
                  <th scope="col">Descipción</th>
                  <th scope="col">Datos</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <td>Nombre</td>
                  <td>{{ cliente.nombre }}</td>
                </tr>
                <tr scope="row">
                  <td>Apellido</td>
                  <td>{{ cliente.apellido }}</td>
                </tr>
                <tr scope="row">
                  <td>Número de NIT</td>
                  <td>{{ cliente.nit }}</td>
                </tr>
                <tr scope="row">
                  <td>Número de Teléfono</td>
                  <td>{{ cliente.telefono }}</td>
                </tr>
                <tr scope="row">
                  <td>Fecha de Registro</td>
                  <td>{{ cliente.createAt | date:"fullDate" }}</td>
                </tr>
              </tbody>
            </table>

            <!-- Facturas -->
            <button type="button" class="btn btn-success mb-3" [routerLink]="['/facturas/form', cliente.id]">Crear factura</button>

            <div class="row mx-0">

              <div class="alert alert-info" *ngIf="cliente.facturas.length == 0">
                No hay facturas asignadas para el cliente {{cliente.nombre}} {{cliente.apellido}}
              </div>

              <table class="table table-bordered table-hover" *ngIf="cliente.facturas.length > 0">
                <thead class="table-info">
                  <tr>
                    <th>Folio</th>
                    <th>Descipción</th>
                    <th>Fecha</th>
                    <th>Total</th>
                    <th>Detalle</th>
                    <th>Eliminar</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let factura of cliente.facturas">
                    <td>{{ factura.id }}</td>
                    <td>{{ factura.descripcion }}</td>
                    <td>{{ factura.createAt }}</td>
                    <td>{{ factura.total }}</td>
                    <td>
                      <button class="btn btn-outline-dark btn-sm" type="button"
                      [routerLink]="['/facturas', factura.id]">Ver</button>
                    </td>
                    <td>
                      <button class="btn btn-outline-danger btn-sm" type="button"
                      (click)="delete(factura)">Eliminar</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>

        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

</div>
