<div class="abrir-modal animacion fadeIn" *ngIf="modalService.modal">

  <div class="modal" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">

        <div class="modal-header">
          <h3 class="modal-title">{{ titulo }}</h3>
          <button (click)="cerrarModal()" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
          <div class="container">
            <table *ngIf="cliente" class="table table-bordered table-hover">
              <thead class="table-warning">
                <tr>
                  <th scope="col">Descipción</th>
                  <th scope="col">Datos</th>
                </tr>
              </thead>
              <tbody>
                <tr scope="row">
                  <td>Nombre</td>
                  <td>{{ cliente.nombre }}</td>
                </tr>
                <tr scope="row">
                  <td>Apellido</td>
                  <td>{{ cliente.apellido }}</td>
                </tr>
                <tr scope="row">
                  <td>Número de NIT</td>
                  <td>{{ cliente.nit }}</td>
                </tr>
                <tr scope="row">
                  <td>Número de Teléfono</td>
                  <td>{{ cliente.telefono }}</td>
                </tr>
                <tr scope="row">
                  <td>Fecha de Registro</td>
                  <td>{{ cliente.createAt | date:"fullDate" }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="modal-footer">
          <button (click)="cerrarModal()" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>

      </div>
    </div>
  </div>

</div>
