<app-header></app-header>
<div class="container my-3 wrap">
<div class="alert alert-danger" *ngIf="errores?.length > 0">
  <ul>
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
</div>

<div class="card bg-dark text-white">
  <div class="card-header">
    <h1>{{ titulo }}</h1>
  </div>
  <div class="card-body">

    <form #formularioProducto="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="producto.nombre" name="nombre">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="descripcion" class="col-form-label col-sm-2">Descripcion</label>
        <div class="col-sm-6">
          <textarea class="form-control" [(ngModel)]="producto.descripcion" name="descripcion" style="height: 100px" id="floatingTextarea"></textarea>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="precio" class="col-form-label col-sm-2">Precio</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" [(ngModel)]="producto.precio" name="precio">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="text" matInput [matDatepicker]="picker" class="form-control" [(ngModel)]="producto.createAt" name="createAt" style="display:inline; width:350px;">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </div>
      </div>
      <br>
      <!-- Boton Crear y Editar -->
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-success" role="button" (click)='create()' *ngIf="!producto.id else elseBlock" [disabled]="!formularioProducto.form.valid">Crear</button>
          <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!formularioProducto.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
</div>
<app-footer></app-footer>