<div class="alert alert-danger" *ngIf="errores?.length > 0">
  <!-- <ul class="alert alert-danger" *ngIf="errores?.length > 0"> -->
  <ul>
    <li *ngFor="let err of errores">
      {{ err }}
    </li>
  </ul>
</div>

<div class="card bg-dark text-white">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">

    <form #formularioCliente="ngForm">

      <div class="form-group row">
        <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
        <div class="col-sm-6">
          <!-- <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required minlength="3" #varNombre="ngModel"> -->
          <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" #varNombre="ngModel">
          <div class="alert alert-danger" *ngIf="varNombre.invalid && (varNombre.dirty || varNombre.touched)">
            <div *ngIf="varNombre.errors.required">
              * El Nombre es requerido
            </div>
            <div *ngIf="varNombre.errors.minlength">
              * El Nombre debe tener al menos 3 caracteres
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
        <div class="col-sm-6">
          <!-- <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required minlength="4" #varApellido="ngModel"> -->
          <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" #varApellido="ngModel">
          <div class="alert alert-danger" *ngIf="varApellido.invalid && (varApellido.dirty || varApellido.touched)">
            <div *ngIf="varApellido.errors.required">
              * El Apellido es requerido
            </div>
            <div *ngIf="varApellido.errors.minlength">
              * El Apellido debe tener al menos 4 caracteres
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="email" class="col-form-label col-sm-2">Email</label>
        <div class="col-sm-6">
          <!-- <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email #varEmail="ngModel"> -->
          <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" #varEmail="ngModel">
          <div class="alert alert-danger" *ngIf="varEmail.invalid && (varEmail.dirty || varEmail.touched)">
            <div *ngIf="varEmail.errors.required">
              * El Email es requerido
            </div>
            <div *ngIf="varEmail.errors.email">
              * Debe tener un formato válido, ej: correo@ejemplo.com
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-group row">
        <label for="createAt" class="col-form-label col-sm-2">Fecha</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" [(ngModel)]="cliente.createAt" name="createAt">
        </div>
      </div>
      <br>
      <div class="form-group row">
        <div class="col-sm-6">
          <button class="btn btn-primary" role="button" (click)='create()' *ngIf="!cliente.id else elseBlock" [disabled]="!formularioCliente.form.valid">Crear</button>
          <ng-template #elseBlock>
              <button class="btn btn-primary" role="button" (click)='update()' [disabled]="!formularioCliente.form.valid">Editar</button>
          </ng-template>
        </div>
      </div>
    </form>
  </div>
</div>
<br>
