h3 {
  color: #023e8a;
  font-weight: normal;
  font-size: 20px;
  font-family: fantasy;
  text-transform: uppercase;
}

/* a {
  color: #0096c7;
  font-weight: normal;
  font-size: 15px;
  font-family: Arial;
} */

h5 {
  color: #293241;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  text-align: right;
  margin-right: 3px;
}

p.sinob {
  color: #adb5bd;
  font-weight: normal;
  font-style: italic;
}
